body {
  background: url('/images/nubes.png') no-repeat center center fixed;
  background-size: cover;
}

.container {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  color: #0b3f6a;
}

p {
  color: #333;
  font-size: 1.1rem;
  line-height: 1.6;
}

.button {
  display: inline-block;
  text-decoration: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  transition: background-color 0.3s, transform 0.2s;
}

.button.primary {
  background-color: #1a73e8;
  color: white;
  padding: 10px 20px;
}

.button.primary:hover {
  background-color: #165bb7;
  transform: scale(1.05);
}

.button.secondary {
  background-color: #6d9ffb;
  color: white;
  padding: 10px 20px;
}

.button.secondary:hover {
  background-color: #5883d7;
  transform: scale(1.05);
}
